@import 'reset/reeeset.min.css';

@custom-media --tiny-viewport (width < 35em);
@custom-media --medium-viewport (width >= 35em) and (width < 70em);

body {
  width: 90%;
  margin: 1em auto;
}

.wide {
  font-size: 130%;
  & div {
    background: #fda !important;
  }
}

.verywide {
  font-size: 160%;
  & div {
    background: #da8 !important;
  }
}

.normal {
}

.xgithub {
    background: pink;
  }

.bower {
    background: lightblue;
  }

.npm {
    background: lightgreen;
  }

.clojars {
    background: lightgray;
  }

.maven {
    background: orange;
  }

.jam {
    background: purple;
  }

.go {
    background: black;
  }

.rubygems {
    background: lightbrown;
  }

.homebrew {
    background: cyan;
    color: black;
  }

section {
  lost-utility: clearfix;

  & div.main {
    lost-waffle: 1/4;
    & div {
      padding: 0.5em;
      margin: 0.5em;
      background: white;

      & a {
        margin-right: 1em;
      }

      & h3 {
        margin: 0;
        font-size: 120%;
      }

      & p {
        margin: 0;
      }
    }
  }
  @media (--tiny-viewport) {
    & div.main {
      lost-waffle: 1/1;
    }
  }

  @media (--medium-viewport) {
    & div.main {
      lost-waffle: 1/2;
    }
  }
}

footer {
  text-align: center;
}
